{% extends 'base.html' %}
{% block title %} {{ title }} | Supershop {% endblock %}
{% load static %}

{% block content %}

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <div class="container">
        <div class="m-5 text-center">
            <div class="row">
                {% for product in products %}
                    <div class="col-md-3 my-2">
                        <div class="card shadow" style="width: 15rem;">
                            <div class="card-body">
                                <h4 class="card-title">{{ product.product_name}}</h4>
                                <h6> {{ product.product_category}} </h6>
                                <h5> {{ product.product_unit_price}} BDT </h5>

                                <a href="javascript:;" onclick="updateCart({{ product.current_stock }}, 1, {{ product.pk }})">
                                    <span style="font-size: 20px; color: #006b1b">
                                        <i class="fas fa-plus-circle"></i>
                                    </span>
                                </a>
                                <a href="javascript:;" onclick="updateCart({{ product.current_stock }}, -1, {{ product.pk }})">
                                    <span style="font-size: 20px; color: #ba2121;">
                                        <i class="fas fa-minus-circle"></i>
                                    </span>
                                </a>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <script>
    
        function updateCart(current_stock , op, prod_id) {
            if(checkCart()){
                qty = getQty();
                qty += parseInt(op);
                if (qty === 0){
                    $("#cart-id").removeClass("active");
                    txt = "Cart";
                    updateOrderAjaxRequest(prod_id);
                }
                else {
                    $("#cart-id").addClass("active");
                    txt = "Cart("+qty+")";
                    updateOrderAjaxRequest(prod_id);
                }
                $("#cart-id").html(txt);
            }else {
                if (op === -1){
                    txt = "Cart";
                    updateOrderAjaxRequest(prod_id);
                }else {
                    $("#cart-id").addClass("active");
                    txt = "Cart("+1+")";
                    updateOrderAjaxRequest(prod_id);
                }
                $("#cart-id").html(txt);
            }
        }
        function getQty() {
            return parseInt($("#cart-id").text().split("(")[1].replace(")",""));
        }
        function checkCart() {
            cart_state = $("#cart-id").text();
            if (cart_state.includes("(") && cart_state.includes(")")){
                {#console.log("Not empty");#}
                return true
            }else {
                {#console.log("Empty")#}
                return false
            }
        }


        function updateOrderAjaxRequest(prod_id){
            url = "{% url 'update_cart' %}";
            $.post(url,
            {
                prod_id: prod_id
            },
            function(data){
                {#console.log(data);#}

            });
        }
        function getQtyFromDB() {
            var response = 0
            url = "{% url 'update_cart' %}";
            $.get(url,
            function(data){
                response = data;
            });
            return response;
        }

        function updateCartOnLoad(){
            $.ajaxSetup({async:false});
            qty = getQtyFromDB()
            if(qty > 0){
                $("#cart-id").addClass("active");
                txt = "Cart("+qty+")";
                $("#cart-id").html(txt);
            }
        };
        updateCartOnLoad();
    </script>


{% endblock %}