{% extends 'base.html' %}
{% block title %} {{ title }} | Supershop {% endblock %}
{% load static %}

{% block content %}

    <div class="container m-5">
        <table class="table border">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Code</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ category.category_name }}</td>
                    <td>{{ category.category_code }}</td>
                    <td><a href="/supershop_admin/category/edit__{{ category.pk }}/"><i class="fas fa-edit"></i></a></td>
                    <td><a href=""><i class="fas fa-trash-alt"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>



{% endblock %}